:root {
   --bg-color: #fff;
   --primary-color: #262c40;

   --border-color: #d4defe;
   --icon-color: #432eab;

   --shadow-color: rgba(0, 0, 0, 0.1);

   --text-modal-color: #8189a3;
   --hint-redesigned: #adbcc0;
   --error-message-color: #f83d3d;
   --accent-redesigned: #2e3739;
   --white-color: #fff;
   --black-color: #000;

   --bg-errorPage: #d5d5d7;

   --overlay-color: rgba(53, 57, 63, 0.5);
}
